# Global Repository .gitignore

# Python Virtual Envs
.venv/
venv/
env/

# Python Cache
__pycache__/
*.py[cod]

# Jupyter Checkpoints
.ipynb_checkpoints/

# Environment Files
.env
.env.*

# OS / Editor Files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Large Model Binaries (Large files > 50MB)
*.pkl
*.joblib
*.h5
*.onnx

# MLflow / Local Database / Logs
mlflow.db
mlruns/
*.sqlite
*.log
